# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Project specific
models/
data/
*.he5
service-account.json
*.pt
*.pth
*.tif
*.geotiff
.dockerignore
.gcloudignore

# OS
.DS_Store
.idea/
.vscode/
.gemini/
