--index-url https://pypi.org/simple
--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn[standard]
google-cloud-storage
google-cloud-tasks
google-cloud-aiplatform
rasterio
shapely
torch
terratorch
transformers
numpy
sqlalchemy
geoalchemy2
psycopg2-binary
earthengine-api
requests
scikit-learn
geopandas
scipy
opencv-python
matplotlib
seaborn
python-multipart
python-dotenv